@model DeloiteAssement.Models.AppointmentFormModel

@{
    ViewData["Title"] = "Set Appointment";
}

<div>
	<h1 class="display-4 text-center" style="font-size: 40px">Book Appointment</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <div>
        <form method="post" action="/Home1/SubmitAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name">Name<span style="color: red;font-size:20px">*</span></label>
                <input asp-for="Name" class="form-control" pattern="[A-Za-z]+" title="Only alphabetic characters are allowed." required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Surname">Surname<span style="color: red; font-size:20px">*</span></label>
                <input asp-for="Surname" class="form-control" pattern="[A-Za-z]+" title="Only alphabetic characters are allowed." required>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MobileNumber">Mobile Number</label>
                <input asp-for="MobileNumber" class="form-control" pattern="^[0-9]+$" title="Only numeric characters are allowed">
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateTime">Date and time of appointment<span style="color: red;font-size:20px">*</span></label>
                <input asp-for="DateTime" class="form-control" name="DateTime" value="@ViewBag.FormattedDateTime" min="@ViewBag.FormattedDateTime" required>
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Address<span style="color: red;font-size:20px">*</span></label>
                <input asp-for="Address" class="form-control" required>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product">Product<span style="color: red;font-size:20px">*</span></label>
                <select asp-for="Product" class="form-control" required>
                    <option value="" disabled selected>Select a product</option>
                    <option value="Home Insurance">Home Insurance Policies</option>
                    <option value="Motor Insurance">Motor Insurance Policies</option>
                    <option value="Health Insurance">Health Insurance Policies</option>
                </select>
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comments">Comments</label>
                <input asp-for="Comments" class="form-control">
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-secondary" style="margin-top: 10px">Back</a>
            </div>
        </form>
    </div>

</div>

<script>
    document.querySelector("form").addEventListener("submit", function (event) {
        var mobileNumber = document.querySelector("input[name='MobileNumber']").value;
        var email = document.querySelector("input[name='Email']").value;

        if (!mobileNumber && !email) {
            event.preventDefault(); // Prevent form submission
            alert("Either Mobile Number or Email must be provided.");
        }
    });
</script>

