@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deloitte Scheduler</h1>
    <a asp-controller="Home"  asp-action="Appointment" class="btn btn-primary">Set Appointment</a>
    <a asp-controller="Home"  asp-action="ViewAppointment" class="btn btn-secondary">View Appointment</a>
    


</div>
